---
import nextEvent from "@data/nextEvent.js";
const { soldOut, url, datetime, location, ticketsOnSale } = nextEvent;
---

<div class="container">
  <h3 class="heading-mini">Next meetup</h3>
  <p>{datetime}</p>

  <div class="location">
    <p class="loc-title">
      <a href={location.url}>{location.title}</a>
    </p>
    <p class="addr">{location.addr}</p>
  </div>

  {
    ticketsOnSale && (
      <a href={url} class="btn">
        Get your ticket
      </a>
    )
  }

  {!ticketsOnSale && <a class="btn disabled">On sale soon</a>}
  {soldOut && <a class="btn disabled">Sold out</a>}
</div>

<style>
  .container {
    background: transparent url("/images/squiggly-pink.svg") no-repeat bottom
      left;
    padding: var(--sp5) 0;
  }

  .loc-title {
    margin-bottom: 0;
  }

  .addr {
    margin-top: 0;
  }
</style>
