---
import nextEvent from "@data/nextEvent.js";
const { soldOut, url, datetime, location, ticketsOnSale } = nextEvent;
---

<div class="container">
  <h3 class="heading-mini">Next meetup</h3>
  <p>{datetime}</p>

  <div class="location">
    <p class="loc-title">
      <a href={location.url}>{location.title}</a>
    </p>
    <p class="addr">{location.addr}</p>
  </div>

  {
    ticketsOnSale && (
      <a href={url} class="btn">
        Get your ticket
      </a>
    )
  }

  {
    (!ticketsOnSale || soldOut) && (
      <a class="btn disabled">{soldOut ? "Sold out" : "On sale soon"}</a>
    )
  }

  <div class="cfp-shout">
    <a href="/cfp">Want to be a speaker?</a>
  </div>
</div>

<style>
  .container {
    background: transparent url("/images/squiggly-pink.svg") no-repeat bottom
      left;
    padding: var(--sp5) 0;
  }

  .loc-title {
    margin-bottom: 0;
  }

  .addr {
    margin-top: 0;
  }

  .cfp-shout {
    font-size: var(--font-size-14);
    margin-top: var(--sp3);
  }
</style>
